// Navigation code here
.navigation {
  margin: 0 auto;
  padding: 12px 0;
  background-color: #FAFAFA;
  .centerflex(@flex-direction: column);


  .banner {
    font-size: 4rem;
  }

  nav {
    margin-top: 18px;
    a {
      .styleless-anchors;
      font-size: 1.8rem;
      margin: 0 10px;
    }
  }
}